{{/* PUT IT AT VERY TOP OF THE PARTIAL */}}
{{- $lazyLoading := default true .LazyLoading }}
{{- $fetchPriority:= default "" .FetchPriority -}}

{{- with .Resources.GetMatch "cover.*" }}
  {{- $webPS := .Process "fill 350x350 webp TopLeft" }}
  {{- $webPM := .Process "fill 480x480 webp TopLeft" }}
  {{- $webPL := .Process "fill 628x628 webp TopLeft" }}

  <div class="bg-gray-100 dark:bg-gray-800 rounded-md overflow-hidden hover:scale-105 transition-all">
    <div class="block relative aspect-square">
      <picture>
        <source media="(min-width:1024px)" srcset="{{ $webPS.RelPermalink }}" type="{{ $webPS.MediaType.Type }}"  width="{{ $webPS.Width }}" height="{{ $webPM.Height }}">
        <source media="(min-width:640px)" srcset="{{ $webPM.RelPermalink }}" type="{{ $webPM.MediaType.Type }}"  width="{{ $webPM.Width }}" height="{{ $webPM.Height }}">
        <img src="{{ $webPL.RelPermalink }}" class="object-cover transition-all" width="{{ $webPL.Width }}" height="{{ $webPL.Height }}" alt="" {{- with $fetchPriority }} fetchpriority="{{ . }}" {{- end }} {{- if $lazyLoading }} loading="lazy" {{- end }}>
      </picture>
    </div>
  </div>
{{- end }}
