<noscript>You must have Javascript enabled to use this form.</noscript>
<form id="contact" class="hidden relative flex flex-col mb-10 contact-form"  data-protect="https://formspree.io/f/mrgrvjdr" action="#" method="post" accept-charset="UTF-8">
  <input type="text" id="edit-name" name="name" class="peer bg-transparent p-2 border-2 border-blue-400 focus:border-blue-500 dark:border-blue-800 dark:focus:border-blue-600 rounded-2xl focus:outline-none w-full sm:w-1/2 transition" autocomplete="off" required autofocus>
  <label class="left-6 absolute dark:peer-focus:bg-gray-950 peer-focus:bg-gray-100 peer-focus:px-1 text-gray-600 dark:peer-focus:text-blue-400 dark:text-gray-400 peer-focus:text-blue-500 peer-focus:scale-80 transition translate-y-2 peer-focus:-translate-y-1/2 pointer-events-none" for="edit-name">Your Name</label>
  <span class="mt-5">
    <input class="peer bg-transparent p-2 border-2 border-blue-400 focus:border-blue-500 dark:border-blue-800 dark:focus:border-blue-600 rounded-2xl focus:outline-none w-full sm:w-1/2 transition" type="email" id="edit-mail" name="email" autocomplete="off" required >
    <label class="left-6 absolute dark:peer-focus:bg-gray-950 peer-focus:bg-gray-100 peer-focus:px-1 text-gray-600 dark:peer-focus:text-blue-400 dark:text-gray-400 peer-focus:text-blue-500 peer-focus:scale-80 transition translate-y-2 peer-focus:-translate-y-1/2 pointer-events-none" for="edit-mail">Your Email</label>
  </span>
  <input type="text" id="edit-url" class="hidden" name="url" placeholder="Skip if you are human" aria-hidden="true" tabindex="-1">
  <span class="mt-5">
    <input class="peer bg-transparent p-2 border-2 border-blue-400 focus:border-blue-500 dark:border-blue-800 dark:focus:border-blue-600 rounded-2xl focus:outline-none w-full sm:w-1/2 transition" type="text" id="edit-subject" name="subject" autocomplete="off" required >
    <label class="left-6 absolute dark:peer-focus:bg-gray-950 peer-focus:bg-gray-100 peer-focus:px-1 text-gray-600 dark:peer-focus:text-blue-400 dark:text-gray-400 peer-focus:text-blue-500 peer-focus:scale-80 transition translate-y-2 peer-focus:-translate-y-1/2 pointer-events-none" for="edit-subject">Subject</label>
  </span>
  <span class="mt-5">
    <textarea class="peer bg-transparent p-2 border-2 border-blue-400 focus:border-blue-500 dark:border-blue-800 dark:focus:border-blue-600 rounded-2xl focus:outline-none w-full sm:w-3/4 transition" id="edit-message" name="message" rows="5" autocomplete="off" required></textarea>
    <label class="left-6 absolute dark:peer-focus:bg-gray-950 peer-focus:bg-gray-100 peer-focus:px-1 text-gray-600 dark:peer-focus:text-blue-400 dark:text-gray-400 peer-focus:text-blue-500 peer-focus:scale-80 transition translate-y-2 peer-focus:-translate-y-1/2 pointer-events-none" for="edit-message">Your Message</label>
  </span>
  <button class="mt-4 sm:w-1/3 form-submit button button-secondary" type="submit" name="submit" disabled>Submit</button>
</form>