{{- $aria := site.Params.aria | safeHTMLAttr }}
{{- $searchInput := print "search_input" }}
{{- $searchPlaceholder := print "Type to Search" }}
{{- $searchResults := print "search_results_container" }}
{{- $clearBtn := print "clear_search_btn" }}
<main id="main">
  <header class="mx-auto max-w-(--breakpoint-md) py-5 lg:py-8">
    <div class="flex flex-col justify-center">
      <div class="mt-5 inline-block text-sm text-center font-medium tracking-wider text-blue-600 uppercase dark:text-blue-400">
        <span>{{ .LinkTitle }}</span>
      </div>
      <h1 class="mt-2 mb-3 text-center text-3xl font-semibold tracking-tight lg:text-4xl lg:leading-snug dark:text-gray-300">{{ .Title }}</h1>
    </div>
  </header>
  <article class="prose dark:prose-invert prose-a:text-blue-600 dark:prose-a:text-blue-400 prose-a:no-underline prose-ul:list-(--list-square) prose-h2:capitalize prose-h3:capitalize prose-h4:capitalize prose-h2:text-3xl prose-h3:text-2xl prose-h4:text-xl prose-h2:mt-[1.4em] sm:prose-lg md:prose-xl mx-auto mb-3 max-w-(--breakpoint-md) marker:text-inherit button:text-white">
    <p>The data contains a list of constituencies in Kenya.</p>
      <h2 class="text-xl mb-4 font-bold">Search constituencies</h2>
      <div id="search" class="relative flex flex-col">
        <span>
          <input required="" type="text" autocomplete="off" id="{{ $searchInput }}" class="peer w-full rounded-2xl border-2 border-blue-400 bg-transparent p-6 transition focus:border-blue-500 focus:outline-none dark:border-blue-800 dark:focus:border-blue-600" disabled>
          <label for="{{ $searchInput }}" class="absolute left-6 pointer-events-none text-gray-600 dark:text-gray-400 translate-y-6 transition peer-focus:-translate-y-1/2 peer-focus:scale-80 peer-focus:bg-gray-100 peer-focus:px-1 peer-focus:text-blue-500 dark:peer-focus:bg-gray-950 dark:peer-focus:text-blue-400">{{ $searchPlaceholder }}</label>
        </span>
        <button id="{{ $clearBtn }}" class="absolute right-8 p-3 transition-all translate-y-4 duration-300 border border-blue-500 rounded-full dark:border-blue-800 transition duration-300 rotate-90 hover:rotate-180" aria-label="Clear Search Results"><svg class="site-icon" {{ $aria }} width="1em" height="1em"><use xlink:href="#close-icon"></use></svg></button>
        <div id="{{ $searchResults }}" class="whitespace-normal pb-8 pr-3 flex flex-col">
          {{- /* search results appear here */}}
        </div>
      </div>
      <ul class="notice">
        <li>Title: Kenya Constituencies</li>
        {{/* <li>Author: Omdena</li>
        <li>Source: <a class="underline" href="https://data.humdata.org/dataset/json-repository/resource/51939d78-35aa-4591-9831-11e61e555130">HDX</a></li>
        <li>License: <a class="underline" href="https://creativecommons.org/licenses/by/4.0/">CC By 4.0</a></li> */}}
      </ul>
  </article>
</main>